@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bienvenido a Campos Clínicos</h1>
    <p>Esta es la página principal.</p>
    <p>Accede a las funcionalidades del sistema a través del menú lateral.</p>
</div>